server {
    listen       80;
    server_name  localhost;

#        resolver 8.8.8.8 8.8.4.4 valid=300s;
#        resolver_timeout 5s;

    location / {
    proxy_pass http://guacamole:8080/guacamole/;
    proxy_cookie_path /guacamole/ /;
    }
}
